.wrapper {
  .sidebar {
    position: fixed;
    left: 0;
    overflow-y: scroll;
    @include wh(240px, 100%);
    background: $sidebar-bg;
    @include br(0 48px 48px 0);
    @include p(0 0 32px 0);
    box-shadow: 0 1.6px 16px $sidebar-active-bg;
    &::-webkit-scrollbar {
      @include w(0);
    }
    & .profile {
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
      gap: 35px;
      @include p(16px 0);
      // & .profile-img {
      //   @include wh(128px, 80px);
      //   object-fit: contain;
      // }
    }

    & .menu {
      .list {
        @include p(6.4px 24px);
        @include m(16px 0);
        position: relative;
        transition: $transition;
        &::before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          @include wh(3.2px, 100%);
          background: $border;
          @include br(3.2px);
          opacity: 0;
          transition: $transition;
          pointer-events: none;
        }
        &:hover::before,
        &.active::before {
          opacity: 1;
          transition: $transition;
        }
        & .link,
        & .settings {
          display: flex;
          align-items: center;
          gap: 16px;
          color: $white;
        }
      }
    }
    & .create-teams {
      @include w(90%);
      @include m(0 auto);
      @include account-bg;
      @include br(16px);
      @include p(16px);
      box-shadow: 0 0 16px $bg;
      position: relative;
      & .icon-dot {
        position: absolute;
        top: 16px;
        right: 16px;
      }
    }
  }
  & .content {
    margin-left: 240px;
    @include w(calc(100% - 240px));
  }
  // Responsive
  @media (max-width: 628px) {
    .sidebar {
      overflow-x: hidden;
      @include br(0 16px 16px 0);
      @include w(64px);
      & .logo-txt {
        display: none;
      }
      & .list {
        @include m(8px 0 !important);
        @include p(8px 0 !important);
        &.active::before {
          opacity: 1;
          transform: scale(1);
        }
        &::before {
          opacity: 0;
          transform: scale(0);
          @include wh(43.2px !important, 80% !important);
          top: 4.8px !important;
          left: 8px !important;
          @include br(1rem !important);
          z-index: -1 !important;
          background: #5f5fa75e !important;
          @include link-active;
        }
        & .link {
          & img {
            @include p(8px 16px);
          }
        }
      }
      & .profile {
        gap: 16px;
      }
      & .profile-img {
        @include wh(40px !important, 40px !important);
      }
      & .profile-content {
        display: none;
      }
      & .create-teams {
        display: none;
      }
    }
    & .content {
      margin-left: 64px;
      @include w(calc(100% - 64px));
    }
  }
}